@import "../../variables.scss";

* {
  @extend .general
}


.landing {
  background-color: $primary-color;
  min-height: 100vh;
  width: 100%;
  min-width: 320px;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;


  &-img {
    width: 270px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    top: 0;
    opacity: 0.8;

    img {
      width: 100%;
    }
  }

  &-content {
    width: 90%;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;

    & .title-box {

      h2 {
        font-size: 3rem;
        color: $secondary-colr;
        line-height: 1.2;

        span {
          background: #9b7239;
          color: #ffffd5;
          padding: 0 10px;
          font-family: $lora;
          font-weight: 600;
        }
      }

      p {
        font-size: 1.3em;
        line-height: 1.5;
        color: $secondary-colr;
        font-family: $lora;
        font-weight: 600;
        margin: 10px 0 20px 0
      }
    }

  }
  .content-button{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .link-button {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffd5;
    background-color: #8d4925;
    padding: 5px 20px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.3s;

  }

  & .title-box .link-button:hover {
    color: #8d4925;
    background-color: #ffffd5;
  }

  & .since {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 20px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffd5;
    font-size: 0.8em;
  }






}