@import "../../variables.scss";

* {
  @extend .general
}

.memory-card {
  display: inline-table;
  margin: 5px;
  height: calc(120px - 10px);
  width: calc(100px - 12px);
  cursor: pointer;
}

.memory-card:hover {
  transform: scale(0.98);
}

.card-image {
  width: 100%;
  height: calc(120px - 12px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: $secondary-colr;
  border-radius: 9px;
}

.the-card {
  width: 100%;
  max-width: 400px; 
  min-width: 320px; 
  margin: 0 auto;
  min-height: 550px;
  transform-style: preserve-3d;
  transition: 1s;
}
.the-back {
  width: 100%;
  max-width: 800px; 
  min-width: 320px;
  height: 100%;
  background-color: $primary-color;
  backface-visibility: hidden;
  padding: 50px;
  transform: rotatey(180deg);
  border-radius: 45px;
}


.titleMsg {
  width: 100%;
  height: 90px;
  font-size: 35px;
  font-family: $lora;
 
}

.pMsg {
  display: block;

  font-size: 15px;
  padding: 5px;
  line-height: 1.4;
  color: aliceblue;

}

.flipped {
  transform: rotateY(180deg);
}



.theCardPpt {
  position: absolute;
  width: 410px;
  height: 540px;
  transform-style: preserve-3d;
  transition: 2s;
}

.theFrontPpt {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: $primary-color;
  color: $secondary-colr;
  border-radius: 45px;
}

.imgMsg {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

@media (max-width: 400px) {
  .memory-card {
    width: calc(100px - 30px);

  }
}