@import "../../variables.scss";

* {
  @extend .general
}

.navBar {
  background-color: #e57d90;
  height: 60px;
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #d4ccc6;
}

.nav-logo {
  font-weight: bold;
  font-family: $lora;
  font-size: 25px;
  margin: 15px;
  color: aliceblue;
}

.nav-items {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #ffb48a;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  z-index: 40;
  transition: 0.8s;
  transform: translateX(-100%);
  opacity: 0;

}
.oculto{
  transform: translateX(0%);
  opacity: 1;

}


.nav-items .nav-link {
  padding: 20px 10px;
  font-weight: bold;
  font-size: 18px;
  font-family: $open;
  color: $secondary-colr;
  position: relative;
  text-decoration: none;
  text-align: center;

  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);

}

.nav-items .nav-link:nth-child(1) {
  border-top: 1px solid #633e29;
}
.nav-items .nav-link:active{
  transform: scale(1.1);
  background-color: #633e29;
  color: aliceblue;
}

.nav-toggle {
  display: flex !important;
  flex-direction: column;
  margin: 15px;
}

.nav-toggle span {
  width: 30px;
  height: 4px;
  background-color: aqua;
  margin-bottom: 5px;
  border-radius: 2px;
  transform-origin: 5px 0px;
}